@import "../../styles/variable";
.rankings{
  &-container{
    color: $--color-secondary;
  }
  &-app{
    color: $--color-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:$--md $--xs;
    border-bottom: 1px solid $--color-border;
    margin-left: 1rem;
    .app{
      &-rank{
        flex-basis: 3rem;
        font-size: 1.4rem;
        flex-shrink: 0
      }
      &-icon{
        text-align: center;
        padding: 0 ;
        margin: 0 1.5rem 0 0;
        border-radius: 4px;
        overflow: hidden;
        width: 6rem;
        flex-shrink:0;
        &-skeleton{
          height: 6rem;
        }
        img{
        object-fit: cover;
        }
        .odd{
          width: 100%;
          border-radius: 8px;
          display: block;
        }
        .even{
          @extend .odd;
          border-radius: 50%;
        }
      }
      &-info{
        flex: auto;
      }
      &-name{
        color: $--color-regular;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 1.4rem;
        height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        &-skeleton{
          height: 1.4rem;
          width: 80%;
          max-width: 16rem;
        }
      }
      &-category{
        font-size: 1.2rem;
        color: $--color-gray;
        padding: $--xs*0.5 0;
        &-skeleton{
          height: 1.2rem;
          width: 6rem;
        }
      }
      &-score{
        font-size: 12px;
        display: flex;
        transform:scale(0.8);
        transform-origin: left;
        .rate-star-container{
          background:url("../../assets/images/star-line.svg") repeat-x;
          height: 16px;
          width: 80px;
          overflow: hidden;
          margin-right: 6px;
          .rate-star-ratio{
            height: 16px;
            background:url("../../assets/images/star.svg") repeat-x #fff;
          }
        }
        &-skeleton{
          height: 1.2rem;
          width: 12rem;
        }
      }
    }
  }

}
