@import "../../styles/variable";
.search{
  &-bar-container{
    // border-bottom:1px solid $--color-border;
    padding:0.8rem;
    position: relative;
    &::after{
      background-color: $--color-border;
      height: 1px;
      width: 100%;
      content: "";
      display: block;
      transform: scaleY(.5);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &-bar{
    background-color: $--input-background-color;
    border-radius: $--xs*1.25;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    &-input{
      border: 0;
      width: 100%;
      margin: 0;
      padding-left: 0.4rem;
      height: $--height-base;
      outline: 0;
      font-size: 1.4rem;
      background: none;
      &::placeholder{
        color: $--color-placeholder;
      }
    }
    .search-icon-wrap{
      height: 1.2rem;
      .search-icon{
        width: 1.2rem;
        height: 1.2rem;
        margin-right: $--xs;
        color: $--color-placeholder;
      }
    }
  }

}
