@import "../../styles/variable";
.search{
  &-bar-container{
    // border-bottom:1px solid $--color-border;
    padding:0.8rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    &::after{
      background-color: $--color-border;
      height: 1px;
      width: 100%;
      content: "";
      display: block;
      transform: scaleY(.5);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &-bar-wrap{
    display: flex;
    align-items: center;
  }
  &-cancel{
    flex-basis: 0;
    transition: all 1s ease-in-out 0.5s;
    display: none;
  }

  &-bar{
    background-color: $--input-background-color;
    border-radius: $--xs*1.25;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    flex-grow: 1;
    &-input{
      border: 0;
      width: 100%;
      margin: 0;
      padding-left: 0.4rem;
      height: $--height-base;
      outline: 0;
      font-size: 1.4rem;
      background: none;
      &::placeholder{
        color: $--color-placeholder;
      }
    }
    .search-icon-wrap{
      height: 1.2rem;
      .search-icon{
        width: 1.2rem;
        height: 1.2rem;
        margin-right: $--xs;
        color: $--color-placeholder;
      }
    }
  }
  &-action{
    flex-basis: 42px;
    text-align: center;
    font-size:1.2rem;
    padding-left: 0.4rem;
    border-left: 1px solid $--color-placeholder;
  }

}
.in-search-state  .search-cancel{
  flex-basis: 28px;
  display: block;
  transition: all 1s ease-in-out 0.5s;
}